.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  color: black;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 0;
  padding: 89px 50px 94px;
}

.header__menu {
  font-size: 18px;
  letter-spacing: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  place-self: start start;
  width: 136px;
  height: 110px;
}

.header__logo-image {
  width: 136px;
  height: 111px;
}

.address {
  justify-self: end;
  max-width: 240px;
  overflow-wrap: break-word;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  letter-spacing: normal;
  text-decoration: none;
}

.address-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  margin: 0 0 180px;
  padding: 158px 50px 50px 50px;
  color: white;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  margin: -3px -31px 96px 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.35;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: inherit;
  font: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
  appearance: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.lots {
  margin: 180px 0 120px;
  padding: 0 24px 0;
}

.lots-header {
  padding: 0 0 27px 40px;
}

.lots-footer {
  padding: 30px 0 0 40px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 120px 0 168px;
  padding: 0 24px 0;
}

.about__column-logo {
  padding: 34px 72px 320px 47px;
}

.about__column-title {
  padding: 133px 0 13px;
}

.about__logo-background {
  display: flex;
  place-self: start center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 2px 402px 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-right: 6px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  max-width: 264px;
  line-height: 24px;
}

.footer__menu {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: normal;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: normal;
  list-style-type: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}